.habilidades {
    grid-area: habilidades;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
}

.habilidades h2 {
    font-size: 0px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.habilidades p {
    font-size: 0px;
    line-height: 0;
    color: #000;
    margin: 0;
}