.contacto {
  max-width: 1000px;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.6;
}

.contacto h2 {
  font-size: 25px;
  color: #000000;
  margin-bottom: 8px;
  text-align: left;
}

.contacto ul {
  list-style-type: none;
  padding: 0;
}

.contacto ul li {
  margin-bottom: 15px;
  line-height: 1;
  font-size: 18px;
}
