.contacto {
  max-width: 0px;
  text-align: right;
  margin: 0 ;
  line-height: 1.0;
}

.contacto h2 {
  font-size: 10px;
  color: #000000;
  margin-bottom:10px;
  text-align: right;
}

.contacto p{
  list-style: none;
  padding: 0px;
  margin: 0;
}


