.Idiomas {
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.6;
}

.Idiomas h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
}

.Idiomas ul {
    list-style-type: none;
    padding: 0;
}

.Idiomas ul li {
    margin-bottom: 50px;
    line-height: 2.6;
    font-size: 25px;
}