body {
    background-color: rgb(15, 184, 184);
    margin: 0;
    font-family: Arial, sans-serif;
}

.grip-container {
    display: grid;
    grid-template-areas: 
    "left-column left-column"
    "right-column right-column";
}
.left-column {
    grid-area: left-column;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    margin-top: 0px;
    margin-left: 250px;
    max-width: 200px;
    text-align: left;
    line-height: 1.5;
}

.right-column {
    grid-area: right-column;;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1270px;
    margin-left: -50px;
    max-width: 3000px;
    text-align: left;
}

.pofile-img {
    width: 400px;
    height: 400px;
    border-radius: 20%;
    border: 10px solid #10e410;
    object-fit: cover;
    margin-top: 50px;
    margin-left: -80px;
    
}

.info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin-top: -900px;
    margin-bottom: 700px;
}

.nombre h1 {
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: center;
    position: relative;
    top: -10px;
    left: -6.9px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 120px;
    margin-left: 5px;
    margin-bottom: -1.0rem;
}

.cargo {
    font-size: 30px;
    font-weight: bold;
    margin-top: -20px;
    color: #000000;
    margin-bottom: 0px;
    text-align: left;
    margin-left: -0px;
}

.info, .sobre-mi, .experiencia, .educacion, .habilidades, .idiomas {
   max-width: 600px;
   margin: 0 auto;
   text-align: left;
   line-height: 1.9;
}

.info, .sobre-mi, .experiencia, .educacion, .habilidades, .idiomas {
    margin-bottom: -10px;
}

.contacto .referencias .sitios-web {
    max-width: 10px;
    margin: 0;
    text-align: left;
    line-height:1.8;
}

.referencias p, .contacto ul ,  .sitios-web a {
    margin-bottom:20px;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;
}


i {
    color: #000000;
    margin-right: 0px;
    font-size: 16px;
}

.sitios-web a {
    color: #10e410;
    text-decoration: none;
}
.sitios-web a:hover {
    color: #07f01b;
   
}

.contacto ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    max-width: 210px;
}
  
.contacto ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}
  
.contacto ul li i{
    margin-right: 20px;
    font-size: 15px;
}

 
.referencias {
    max-width: 100;
    margin: 0;
    text-align: left;
}
    
.referencias h2 {
    font-size: 25px;
    font-weight:bold ;
    margin-bottom: 140px;
    text-align: left;
}
    
.referencias p {
   line-height: 1.0;
   margin: 2 5 10px 0;
   font-size: 16px;
   color: #000;
}



.hidden {
    display: none;
}