<div class="container">
  <img src="assets\juan.jpeg" alt="Foto de Juan Manuel Cano Osorio" width="200">
  <h1>Juan Manuel Cano Osorio</h1>
  <h2>Asistente Administrativo</h2>

  <div class="Sobre Mi">
  <h3>SOBRE MI</h3>
    <p>
      Hola, soy Juan Manuel Cano Osorio, 
      un estudiante de la Universidad de Pascual bravo en Medellín,
      Colombia.Actualmente estoy
      cursando la Ingeniería  Desarrollo de Software.
   </p>
</div>

<div class="contacto">
  <h3>CONTACTO</h3>
    <ul>
      <li>Teléfono: 3213281783</li>
      <li>Correo: jcanoosorio859;gmail.com</li>
      <li>Identificación: 1017.204.549</li>
      <li>Dirección: Calle 88 # 53a- 81 interior 102</li>
    </ul>
  </div>
  </div>


  <router-outlet></router-outlet>
