<div class="grid-container">
 <!--Columna izquierda-->
 <div class="left-column">
   <img src="assets\juan.jpeg" alt="Foto de Juan Manuel Cano Osorio" class="pofile-img">
   <div class="contacto">
     <h2>CONTACTO</h2>
     <ul>
       <li><i class="fab fa-whatsapp"></i>3213281783
       <li><i class="fas fa-envelope"></i>jcanoosorio859gmail.com
       <li><i class="fas fa-id-card"></i>1017204549
       <li><i class="fas fa-map-marker-alt"></i>Calle 88 # 53 a -81 interior 102
     </ul>
    </div>
    <div class="referencias">
      <h2>REFERECIAS</h2>
      <p>
       Hola, soy Juan Manuel Cano Osorio, un estudiante de la Universidad de Pascual bravo en Medellín,
       Colombia.Actualmente estoy cursando la Ingeniería  Desarrollo de Software.
      </p>
    </div>
    <div class="sitios Web">
      <h2>SITIOS WEB</h2>
      <a href="https://www.linkedin.com/in/juan-manuel-cano-osorio-376ba6357" target="_blank">
       <i class="fas fa-globe"></i>LinkedIn
      </a><br>
      <a href="https://web.magneto365.com/pl/jcanoosorio859-6333352" target="_blank">
        <i class="fas fa-globe"></i>magneto365
      </a>
    </div> 
  </div>

  <!-- Columna derecha -->
 <div class="right-column">
   <div class="nombre">
     <h1>Juan Manuel Cano Osorio</h1>
    </div>
    <div class="cargo">
     <p>Asistente Administrativo</p>
    </div>
    <div class="sobre mi">
     <h2>SOBRE MI</h2>
     <p>
       Soy juan manuel cano osorio, tengo 33 años de edad y vivo en Medellín en el la comuna 4 Aranjuez.Y padre soltero de dos hijos los cuales viven conmigo. soy cristiano donde pertenezco desde toda mi vida  
     </p>
   </div>
   <div class="experiencia">
     <h2>EXPERIENCIA</h2>
     <p>
       Mis primeros trabajos fueron informales en una arepería y retacería donde e ocupado haciendo labores de administrador y oficios varios y también trabaje en un supermercado como empacador de los productos.
       Trabaje también en una marmolería la cual cumplía con tareas de oficios varios En una construcción. En una junta de acción comunal trabe en lo cual era subir y crear redes sociales y alimentar las con información también era un trabajo informal. 
       Ahora soy agente de viajes lo cual vendo también un trabajo informal. Ahora trabaje para Emtelco donde me desarrolle como asistente administrativo lo estudie el cedes y hice las practicas por un año hay
     </p>
   </div>
   <div class="educacion">
     <h2>EDUCACION</h2>
     <p>
        Título Obtenido<br>
        Bachiller<br> 
        Institución Educativa Gilberto álzate Avendaño<br>
        13/12/2021<br>
        Título Proceso<br>
        Asistente Administrativo<br>
        Institución Universitaria Cesde<br>
        04/04/2025<br>
        Título Proceso<br>
        Ingeniería Desarrollo Software<br>
        Institución Universitaria pascual bravo<br>
        01/08/2022
      </p>
   </div>
   <div class="habilidades">
     <h2>HABILIDADES</h2>
     <p>
        Soy una persona proactiva excelente compañero de equipo, organizador y responsable .
        Mi objetivo es un puesto desafíale y dinámico donde puedo sumar experiencia y nuevos conocimientos.
      </p>
   </div>
   <div class="idiomas">
     <h2>IDIOMAS</h2>
     <p>
       Español
     </p>
   </div>
 </div>
</div>
    
<router-outlet></router-outlet>
