body {
    background-color: rgb(11, 241, 241);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    background-color: #00bcbc;
    padding: 100px;
    border-radius: 10px;
}

.container img {
    width: 250px;
    height: 300px;
    border-radius: 600%;
    border: 5px solid #4CAF50;
    object-fit: cover;
    margin-bottom: 0px;
}


.nombre{
    display: flex;
    flex-direction: column;
}

.nombre h1 {
    margin:0;
    font-size: 5rem;
    
}

.cargo {
    margin:1px 0 -4px;
    font-size: 1rem;
}

.sobre-mi h2{
   margin: 2px 0 0px;
    font-size: 200rem;
  }
.sobre-mi p {
    margin-top: -2px;
    font-size: 20rem;
    max-width: 200px;
}