<div class="container">
  <img src="assets\juan.jpeg" alt="Foto de Juan Manuel Cano Osorio" width="200">
  
  
  <div class="nombre">
  <h1>Juan Manuel</h1>
  <h1>Cano Osorio</h1>
  <p class="cargo">Asistente Administrativo</p>

  
  <div class="Sobre Mi">
  <h2>SOBRE MI</h2>
    <p>
      Hola, soy Juan Manuel Cano Osorio, 
      un estudiante de la Universidad de Pascual bravo en Medellín,
      Colombia.Actualmente estoy
      cursando la Ingeniería  Desarrollo de Software.
   </p>
</div>

<app-contacto titulo="Contacto" contenido="Telefono,Correo,Identificacion,Dirección"></app-contacto>
  <router-outlet></router-outlet>
