body {
    background-color: rgb(15, 184, 184);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column-center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: left;
    gap:2rem;
}

.container img {
    width: 300px;
    height: 300px;
    border-radius: 700%;
    border: 3px solid #4CAF50;
    object-fit: cover;
    margin-bottom: 20px;
}


.nombre{
    text-align: left;
}

.nombre h1 {

    margin:0;
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    color: #0c0c0c;
}
.texto-info {
    margin-top: 50px;
}

.cargo {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #0c0c0ef0;
    text-align: left;
}

.sobre\ Mi {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 1.8px;
    font-weight: normal;
    color: #0c0c0ef0;
    text-align: left;
    padding: 20px;
    
  }