.referencias {
    max-width: 600;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  .referencias h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 0px;
  }
  
  .referencias ul {
    list-style-type: none;
    padding: 0;
  }
  
  .referencias ul li {
    margin-bottom: 10px;
    line-height: 2.6;
    font-size: 20px;
  }