.referencias {
    max-width: 100;
    text-align: justify;
    margin: 10 auto;
    line-height: 2.6;
  }
  
  .referencias h2 {
    font-size: 14px;
    font-weight:bold ;
    margin-bottom: 25px;
    text-align: left;
  }
  
  .referencias p {
   font-size: 8px;
    margin-bottom: 5px;
  }
  
 